<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="monoandroid51" />
  <package id="Saitama.Android" version="0.1.0" targetFramework="monoandroid51" />
  <package id="Saitama.Autofac" version="0.1.1" targetFramework="monoandroid51" />
  <package id="Saitama.Core" version="0.1" targetFramework="monoandroid51" />
</packages>